{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'todolist/index.css' %}" />
    <title>Title</title>
</head>
<body>
<div id="header">
    <span>TODO</span>
    <span id="logout">
        <a href="{% url 'logout' %}">Logout</a>
    </span>
</div>
<div id="flex-container">
    <div id="projectsView">
        <ul>
            <li v-for="project in projectsList">
                [[ project.name ]], [[ project.colour ]]
            </li>
        </ul>
    </div>

    <div id="tasksView">
        <ul>
            <li v-for="task in tasksList">
                [[ task.name ]]
            </li>
        </ul>
    </div>
</div>

</body>
<script src="{% static 'todolist/jquery-3.2.1.js' %}"></script>
<script src="{% static 'todolist/vue@2.3.4.js' %}"></script>
<script src="{% static 'todolist/index.js' %}"></script>
</html>