{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'todolist/index.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
</head>
<body>
{% csrf_token %}
<div id="todolist_spa">
<header id="header">
    <span>TODO Single Page App</span>
    <label>
        <input type="checkbox" v-model="showFinishedTasks">
        Show finished tasks
    </label>
    <a href="{% url 'logout' %}">Logout</a>
</header>

<main class="flex content-wrapper">
    <div id="projects-column">
        <ul>
            <li>
                <input id="allProjects" type="radio" value="all" v-model="highlightedProject">
                <label for="allProjects">All projects:</label>
            </li>
            <hr>
            <li v-for="project in projectsList">
                {# Form to edit existing project. #}
                <form v-if="project.edit" @submit.prevent="updateProject(project)">
                    <select v-model="project.colour"
                            class="color-select circle"
                            :style="{backgroundColor: project.colour}"
                    >
                        <option v-for="color in colors" :value="color"  :style="{backgroundColor: color}"></option>
                    </select>
                    <input v-model="project.name" maxlength="20" required>
                </form>
                {# show existing project #}
                <span v-else class="item-wrapper">
                    <input type="radio" :id="project.id" :value="project.id" v-model="highlightedProject">
                    <label :for="project.id">
                        <span class="circle" :style="{backgroundColor: project.colour}"></span>
                        [[ project.name ]]
                    </label>
                    <span class="hidden">
                        {# 'Edit' and 'delete' icons from 'font-awesome' pack. #}
                        <i class="fa fa-pencil-square-o" aria-hidden="true"
                           v-if="!project.edit"
                           {# next handler will start existing project edit: #}
                           @click="project.edit = true"></i>
                        <i @click="deleteProject(project)" class="fa fa-trash-o" aria-hidden="true"></i>
                    </span>
                </span>
                <hr>
            </li>
            <li>
                {# Form to make a new project: #}
                <span v-if="newProject.edit">
                    <select v-model="newProject.colour" class="color-select circle"
                            :style="{backgroundColor: newProject.colour}">
                        <option v-for="color in colors" :value="color"
                                :style="{backgroundColor: color}">
                        </option>
                    </select>

                    <input v-model="newProject.name" @keyup='newProjectInputHandler' maxlength="20" placeholder="Project name">
                </span>
                <span class="add-button" v-else @click="newProject.edit=true">+ Add project</span>
            </li>
        </ul>
    </div>

    <div id="tasks-column">
        <ul>
            <li>
                Date filter:
                <input id="allTasks" type="radio" value="all" v-model="dateFilter">
                <label for="allTasks">All dates</label>

                <input id="todayTasks" type="radio" value="today" v-model="dateFilter">
                <label for="todayTasks">Today</label>

                <input id="sevenDays" type="radio" value="sevenDays" v-model="dateFilter">
                <label for="sevenDays">Next 7 days</label>
            </li>
            <hr>
            <li v-for="task in reorderedTasks" v-if="filterTask(task)">
                {# Form to edit existing task. #}
                <form v-if="task.edit" @submit.prevent="updateTask(task)">
                    <select v-model="task.priority" class="color-select" :style="{backgroundColor: task.priority}">
                        <option v-for="priority in priorities" :value="priority"
                                :style="{backgroundColor: priority}">
                        </option>
                    </select>
                    <input v-model="task.name" @keyup.enter='updateTask(task)' type="text" maxlength="20" required>
                    <input v-model="task.finish_date" type="date" class="date" required>
                    <input type="submit" value="Update">
                </form>
                {# show existing task #}
                <span v-else class="flex item-wrapper">
                    <span @click="task.finished=!task.finished; updateTask(task)">
                        <span v-if="task.deadline" style="background-color: red">[[ task.finish_date ]]</span>
                        <span v-if="!task.deadline && !task.finished" class="square" :style="{backgroundColor: task.priority}"></span>
                        <span :class="{'finished' : task.finished}">[[ task.name ]]</span>
                    </span>
                    <span>
                        {# show project, related to the task #}
                        [[ task.project ]]
                        <div class="circle" :style="{backgroundColor: task.project_color}"></div>
                        <span class="hidden">
                            {# 'Edit' and 'delete' icons from 'font-awesome' pack. #}
                            <i class="fa fa-pencil-square-o" aria-hidden="true"
                               v-if="!task.edit"
                               {# next handler will start existing task edit: #}
                               @click="task.edit = true"></i>
                            <i @click="deleteTask(task)" class="fa fa-trash-o" aria-hidden="true"></i>
                        </span>
                    </span>
                </span>
                <hr>
            </li>
            <li>
{#              Add new task form: #}
                <form v-if="newTask.edit" @submit.prevent="addTask">
                    <label>Priority:
                        <select v-model="newTask.priority" class="color-select square"
                                :style="{backgroundColor: newTask.priority}">
                            <option v-for="priority in priorities" :value="priority"
                                    :style="{backgroundColor: priority}">
                            </option>
                        </select>
                    </label>
                    <input v-model="newTask.name" type="text" required
                           maxlength="20"
                           placeholder="New task name">
                    <input v-model="newTask.finish_date" type="date" class="date" placeholder="YYYY-MM-DD" required>
                    <select v-model="newTask.project_id" required title="Select project">
                        <option v-for="project in projectsList" :value="project.id">[[ project.name ]]</option>
                    </select>
                    <div class="add-cancel-btn">
                        <input type="submit" value="Add task">
                        <button type="reset" @click="newTask.edit=false">Cancel</button>
                    </div>
                </form>
                <span class="add-button" v-else @click="newTask.edit=true">+ Add task</span>
            </li>
        </ul>
    </div>
</main>
</div>
</body>
<script src="{% static 'todolist/jquery-3.2.1.js' %}"></script>
<script src="{% static 'todolist/vue2.3.4.js' %}"></script>
<script src="{% static 'todolist/index.js' %}"></script>
</html>