{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'todolist/index.css' %}" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
</head>
<body>
<div id="header">
    <span>TODO</span>
    <span class="float-right">
        <a href="{% url 'logout' %}">Logout</a>
    </span>
</div>

<div class="flex content-wrapper">

    <div id="projects-column">
        <ul>
            <li v-for="project in projectsList">
{#              TODO: place for project color edit menu #}
                <input v-model="project.name" v-if=project.edit
                       @keyup.enter='saveProject(project)'>
                <span v-else>
                    <div class="circle" :style="{backgroundColor: project.colour}"></div>
                    [[ project.name ]]
                </span>
{#              'Edit' and 'delete' icons from 'font-awesome' pack  #}
                <i class="fa fa-pencil-square-o" aria-hidden="true"
                   v-if="!project.edit"
{#                 # next handler will start project editing: #}
                   @click="project.edit = true"
                ></i>
                <i class="fa fa-trash-o" aria-hidden="true"
                   @click="deleteProject(project)"
                ></i>
            </li>
            <li>
                <span v-if="newProject.edit">
                    <select v-model="newProject.colour" :style="{backgroundColor: newProject.colour}">
                      <option v-for="color in colors"
                              v-bind:value="color"
                              :style="{backgroundColor: color}">
                        [[ color ]]
                      </option>
                    </select>

                    <input v-model="newProject.name" @keyup.enter='addProject'>
                </span>
                <span class="add-button" v-else @click="newProject.edit=true">
                    + Add project
                </span>
            </li>
        </ul>
    </div>

    <div id="tasks-column">
        <ul>
            <li v-for="task in tasksList">
                [[ task.name ]]
                <hr>
            </li>
            <span class="add-button">+ Add task</span>
        </ul>
    </div>
</div>

</body>
<script src="{% static 'todolist/jquery-3.2.1.js' %}"></script>
<script src="{% static 'todolist/vue@2.3.4.js' %}"></script>
<script src="{% static 'todolist/index.js' %}"></script>
</html>