
#header {
    background-color: lightblue;
    padding: 10px;
}

.float-right {
    float: right;
}

.content-wrapper {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

#projects-column {
    max-width: 400px;
    min-width: 320px;
}

#tasks-column {
    width: 60%;
    background-color: white;
}

ul {
    list-style-type: none;
    padding-left: 10px;
}

.flex {
    display: flex;
}

.task-item {
    justify-content: space-between;
}


.square {
	width: 12px;
	height: 12px;
    border: 0.5px solid;
    display: inline-block;
}

.circle {
	width: 15px;
	height: 15px;
    display: inline-block;
	border-radius: 50px;
}

.add-button {
    color: red;
}

.color-select {
    display: inline-block;
    width: 15px; height: 15px;
    border: 0.5px solid;
    /*border-radius: 50px;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input {
    width: 160px;
}

.date {
    width: 80px;
}