
#header {
    background-color: lightblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.content-wrapper {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

#projects-column {
    max-width: 400px;
    min-width: 320px;
}

#tasks-column {
    width: 60%;
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 10px 15px;
}

.flex {
    display: flex;
}

.item-wrapper {
    justify-content: space-between;
    align-items: baseline;
}

.finished {
    text-decoration: line-through;
}

.hidden {
    visibility: hidden;
}

.item-wrapper:hover .hidden {
    visibility: visible;
}

.square {
	width: 12px;
	height: 12px;
    border: 0.5px solid;
    display: inline-block;
}

.circle {
	width: 15px;
	height: 15px;
    display: inline-block;
	border-radius: 50px;
}

.add-button {
    color: red;
}

.add-cancel-btn {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.color-select {
    display: inline-block;
    width: 15px; height: 15px;
    border: 0.5px solid;
    /*border-radius: 50px;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="text"] {
    width: 100px;
}

input[type="date"] {
    width: 130px;
}